.projects .projects-wrapper {
  position: absolute;
  top: 0;
  bottom: 13vh;
  left: 0;
  right: 0;
  background-color: #eaeaea;
}
.projects-wrapper .gallery-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 50vw;
}
.projects-wrapper .blog-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50vw;
  right: 0;
}
.gallery-container .gal-wrapper {
  position: absolute;
  top: 8;
  bottom: 8;
  left: 8;
  right: 4;
  overflow: hidden;
}
.blog-container .blog-wrapper {
  position: absolute;
  top: 8;
  bottom: 8;
  left: 4;
  right: 8;
  overflow: hidden;
}
.gal-wrapper .gal-image {
  width: 100%;
  height: 100%;
  background: url(/res/img/gallery.jpg);
  background-position:center;
  transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
}
.blog-wrapper .blog-image {
  width: 100%;
  height: 100%;
  background: url(/res/img/typewriter1.jpg);
  /*
  background: url(/res/img/typewriter2.jpg);
  */
	background-position:center;
	transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
}
.gal-wrapper .gal-image:hover,
.gal-wrapper .gal-image.hover {
  transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2); /* IE 9 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')"; /* IE8 */
   filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand'); /* IE6 and 7 */
}
.blog-wrapper .blog-image:hover,
.blog-wrapper .blog-image.hover {
  transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2); /* IE 9 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')"; /* IE8 */
   filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand'); /* IE6 and 7 */
}
.circle-proj-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 300px;
  width: 300px;
}
.circle-proj-wrapper div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}
.circle-proj .proj-circle-font {
  line-height: 300px;
  text-align: center;
  font-size: 60px;
  font-family: 'OpenSans';
  text-decoration: none !important;
  border: none;
  color: black;
}
