
/*WRITINGS*/
#FOCUS {
  bottom: 215;
  left: 133;
  font-size: 44px;
  letter-spacing: 2px;
}
#COFFEE {
  bottom: 84;
  left: 237;
  font-size: 24;
  letter-spacing: 7;
}
#MOUETTE {
  bottom: 112;
  left: 257;
  font-size: 25;
  letter-spacing: -1;
}
#TECH {
  bottom: 139;
  left: 243;
  font-size: 24;
  letter-spacing: -2;
}
#CONC {
  bottom: 84;
  left: 303;
  font-size: 19;
  letter-spacing: 0;
}
#GRIZZI {
  bottom: 102;
  left: 316;
  font-size: 23;
  letter-spacing: 0;
}
#ZEST {
  bottom: 138;
  left: 338px;
  font-size: 16px;
  letter-spacing: 10px;
  font-weight: 900;
}
#PHP {
  bottom: 263;
  left: 277px;
  font-size: 18px;
  letter-spacing: 4px;
  font-weight: 900;
}
#MUSIC {
  bottom: 233;
  left: 292px;
  font-size: 18px;
  letter-spacing: 4px;
  font-weight: 900;
}
#DESIGN {
  bottom: 252;
  left: 311px;
  font-size: 29px;
  letter-spacing: 4px;
}
#CSS {
  bottom: 280;
  left: 312px;
  font-size: 17px;
  letter-spacing: 10px;
}
#JS {
  bottom: 275;
  left: 368px;
  font-size: 23px;
  letter-spacing: 0px;
}
#COLORFUL {
  bottom: 297;
  left: 379px;
  font-size: 23px;
  letter-spacing: -1px;
}
#HI {
  bottom: 326;
  left: 410px;
  font-size: 19px;
  letter-spacing: -1px;
}
#STYLE {
  bottom: 321;
  left: 477px;
  font-size: 26px;
  letter-spacing: 1px;
}
#NETWORK {
  bottom: 282;
  left: 403px;
  font-size: 21px;
  letter-spacing: 0px;
}
#FCB {
  bottom: 234;
  left: 424px;
  font-size: 25px;
  letter-spacing: -1px;
}
#BARCA {
  bottom: 171;
  left: 298px;
  font-size: 48px;
  letter-spacing: -1px;
}
#SCORE {
  bottom: 261;
  left: 446px;
  font-size: 33px;
  letter-spacing: -4px;
}
#RESULT {
  bottom: 281;
  left: 433px;
  font-size: 19px;
  letter-spacing: 3px;
}
#LOVE {
  bottom: 225;
  left: 404px;
  font-size: 24px;
  letter-spacing: -3px;
}
#PYTHON {
  bottom: 164;
  left: 314px;
  font-size: 34px;
  letter-spacing: 1px;
}
#FRESH {
  bottom: 132;
  left: 168px;
  font-size: 17px;
  letter-spacing: 0px;
}
#GAFNER {
  bottom: 188;
  left: 125px;
  font-size: 40px;
  letter-spacing: 1px;
}
#HAY {
  bottom: 130;
  left: 224;
  font-size: 38px;
  letter-spacing: 1px;
}
#ELWAY {
  bottom: 163;
  left: 86px;
  font-size: 22px;
  letter-spacing: 12px;
}
#JAZZ {
  bottom: 167;
  left: 132px;
  font-size: 13px;
  letter-spacing: 11px;
  font-weight: 600;
}
#DRUMS {
  bottom: 181;
  left: 196px;
  font-size: 14px;
  letter-spacing: 0px;
  font-weight: 600;
}
#SURF {
  bottom: 239;
  left: 105px;
  font-size: 20px;
  letter-spacing: 0px;
  font-weight: 600;
}
#BRAND {
  bottom: 217;
  left: 87px;
  font-size: 10px;
  letter-spacing: 0px;
  font-weight: 600;
}
#ELLINGTON {
  bottom: 257;
  left: 54px;
  font-size: 30px;
  letter-spacing: 0px;
  font-weight: 600;
}
#LEBRON {
  bottom: 317;
  left: 152px;
  font-size: 10px;
  letter-spacing: 0px;
  font-weight: 600;
}
#LOGICAL {
  bottom: 253;
  left: 31px;
  font-size: 10px;
  letter-spacing: 0px;
  font-weight: 600;
}
#EXPLORE {
  bottom: 315;
  left: 27px;
  font-size: 24px;
  letter-spacing: 8px;
}
#PERCUSSION {
  bottom: 319;
  left: 36px;
  font-size: 24px;
  letter-spacing: 8px;
}
#COMPUTER {
  bottom: 351px;
  left: 155px;
  font-size: 18px;
  letter-spacing: 0px;
}
#EXPERIENCE {
  bottom: 348px;
  left: 165px;
  font-size: 18px;
  letter-spacing: 0px;
}
#PASSION {
  bottom: 394px;
  left: 151px;
  font-size: 21px;
  letter-spacing: 0px;
}
#BLAUGRANA {
  bottom: 437px;
  left: 174px;
  font-size: 21px;
  letter-spacing: 0px;
}
#NICE {
  bottom: 395px;
  left: 206px;
  font-size: 21px;
  letter-spacing: -2px;
  font-weight: 700;
}
#DEDICATION {
  bottom: 510px;
  left: 185px;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 700;
}
#CURIOSITY {
  bottom: 487px;
  left: 200px;
  font-size: 20px;
  letter-spacing: 0px;
}
#P100 {
  bottom: 414px;
  left: 240px;
  font-size: 20px;
  letter-spacing: 3px;
}
#FRENCH {
  bottom: 505px;
  left: 263px;
  font-size: 30px;
  letter-spacing: -1px;
  font-weight: 500;
}
#LONDON {
  bottom: 516px;
  left: 305px;
  font-size: 17px;
  letter-spacing: 0px;
  font-weight: 500;
}
#PROGRESS {
  bottom: 472px;
  left: 290px;
  font-size: 17px;
  letter-spacing: 3px;
  font-weight: 500;
}
#ENDURANCE {
  bottom: 486px;
  left: 258px;
  font-size: 15px;
  letter-spacing: -1px;
  font-weight: 600;
}
#FRIENDS {
  bottom: 486px;
  left: 314px;
  font-size: 25px;
  letter-spacing: 0px;
  font-weight: 600;
}
#TG {
  bottom: 514px;
  left: 350px;
  font-size: 15px;
  letter-spacing: 4px;
  font-weight: 600;
}
#LIGHT {
  bottom: 456px;
  left: 227px;
  font-size: 29px;
  letter-spacing: 0px;
  font-weight: 600;
}
#OCEAN {
  bottom: 436px;
  left: 208px;
  font-size: 15px;
  letter-spacing: 3px;
  font-weight: 600;
}
#EMINEM {
  bottom: 474px;
  left: 249px;
  font-size: 17px;
  letter-spacing: 0px;
  font-weight: 400;
}
#ATOM {
  bottom: 441px;
  left: 250px;
  font-size: 20px;
  letter-spacing: -3px;
  font-weight: 300;
}
